<div class="card m-3">
    <h5 class="card-header">Welcome User</h5>
    <div class="card-body">
        <div class="text-right">
            <button class="btn btn-primary mr-1 pull-right" type="button" (click)="Logout()" routerLinkActive="active">LogOut</button>
        </div>
      <div class="alert alert-danger" role="alert" *ngIf="error">
          Here is the error : {{ errorMessage }}.
        </div>
        <div class="alert alert-success" role="alert" *ngIf="success">
            {{ successMessage }}.
          </div>
        <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Full Name</label>
                    <input type="text" formControlName="fullName" class="form-control" [(ngModel)]="docData.fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                        <div *ngIf="f.fullName.errors.required">Full Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="emailId" class="form-control" [(ngModel)]="docData.emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                    <div *ngIf="f.emailId.errors.required">Email is required</div>
                    <div *ngIf="f.emailId.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Gender</label>
                    <select formControlName="gender" class="form-control" [(ngModel)]="docData.gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value=""></option>
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                        <option value="3">Other</option>
                        <option value="4">Prefer Not to say</option>
                    </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Organization Name</label>
                    <input type="text" formControlName="orgName" class="form-control" [(ngModel)]="docData.orgName" [ngClass]="{ 'is-invalid': submitted && f.orgName.errors }" />
                    <div *ngIf="submitted && f.orgName.errors" class="invalid-feedback">
                        <div *ngIf="f.orgName.errors.required">Title is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Image</label>
                    <input type="file" formControlName="profilePic"  class="form-control" (change)="fileProgress($event)"  [ngClass]="{ 'is-invalid': submitted && f.profilePic.errors }"/>
                    <div *ngIf="submitted && f.profilePic.errors" class="invalid-feedback">
                        <div *ngIf="f.profilePic.errors.required">Image is required</div>
                    </div>
                    <input type="hidden" formControlName="imageInput"  [(ngModel)]="docData.profilePic"  />
                    
                </div>
                <div class="form-group col">
                    <img [src]="previewUrl" height="200" width="200" *ngIf="previewUrl" />                 
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Update</button>
            </div>
        </form>
    </div>
  </div>


